/*общее*/
:root {
  --primary-text-color: #000000;
  --color-text: #212121;
  --color-text-lighter: #757575;
  --color-text-footer: rgba(255, 255, 255, 0.6);
  --color-text-contrast: #ffffff;
  --background-color: #ffffff;
  --background-color-dark: #2f303a;
  --background-color-command: #f5f4fa;
  --background-hero-btn-change: #188ce8;
  --link-color-change: #2196f3;
  --color-line: #ececec;
  --line-cards: 1px solid var(--color-line);
  --color-social-link: #afb1b8;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  color: var(--primary-text-color);
  background: var(--background-color);
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /*outline: 2px dashed #188ce8;*/
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section-footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.link:hover svg,
.link:focus svg {
  fill: var(--link-color-change);
}

.checkbox,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*общее*/

/*ХЕДЕР*/
.logo {
  color: var(--link-color-change);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
  justify-content: flex-start;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-header {
  color: var(--primary-text-color);
}
.container-header-nav,
.header-nav {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-right: auto;
}

.current.site-nav__item .link {
  color: var(--link-color-change);
}
.site-nav__item {
  position: relative;
}
.current.site-nav__item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--link-color-change);
  border-radius: 2px;
  background-size: cover;
  bottom: -2px;
}

.site-nav,
.contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  align-items: flex-end;
  align-items: baseline;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__item {
  display: flex;
  flex-direction: row;
  color: var(--color-text-lighter);
  align-items: center;
  justify-content: center;
}
.contacts-text {
  display: flex;
  align-items: center;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.link .contacts__item {
  align-items: center;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
}

.page-header {
  border-bottom: 1px solid var(--color-line);
}

/*хедер*/

/*КНОПКИ*/

.button {
  font-family: inherit;
}

.hero__button,
.filter-button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}

.hero__button {
  color: var(--color-text-contrast);
  background-color: var(--link-color-change);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover,
.hero__button:focus,
.submit-button:hover,
.submit-button:focus {
  color: var(--color-text-contrast);
  background-color: var(--background-hero-btn-change);
}
.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  color: var(--color-text);
  background-color: var(--background-color-command);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn__item + .filter-btn__item {
  margin-left: 8px;
}

.active-button,
.filter-button:hover,
.filter-button:focus {
  color: var(--color-text-contrast);
  background-color: var(--link-color-change);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*кнопки*/

/*ССЫЛКИ*/
.site-nav__item .link {
  color: var(--color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link {
  color: var(--color-text-lighter);
}
.footer-adress__item .link {
  font-style: normal;
  color: var(--color-text-footer);
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icon,
.contacts__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__item .link:hover,
.site-nav__item .link:focus,
.contacts__item .link:hover,
.contacts__item .link:focus,
.adress-link .link:hover,
.adress-link .link:focus {
  color: var(--link-color-change);
  fill: var(--link-color-change);
}

/*ссылки*/

/*ГЕРОЙ*/

.hero {
  background: var(--background-color-dark);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/background.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__name {
  color: var(--color-text-contrast);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

/*герой*/

/*НАШИ ОСОБЕННОСТИ*/

.peculiarity {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.peculiarities {
  display: flex;
}

.peculiarities__item {
  width: 270px;
}
.peculiarities__item:not(:last-child) {
  margin-right: 30px;
}
.peculiarities-header,
.peculiarities__text {
  text-align: left;
}

.peculiarities__name {
  color: var(--color-text);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.peculiarities__text {
  color: var(--color-text-lighter);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.peculiarities__picture {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-command);
  margin-bottom: 30px;
  border-radius: 4px;
}
.peculiarities__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*наши особенности*/

/*ЧЕМ МЫ ЗАНИМАЕМСЯ*/
.action {
  padding-bottom: 94px;
}

.action-header,
.command-header,
.clients-header {
  color: var(--color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.action-card {
  display: flex;
  align-items: center;
}

.action-cards__item {
  display: flex;
  display: inline-block;
  text-align: center;
}
.action-cards__item:not(:last-child) {
  margin-right: 30px;
}
.action-cards__descript {
  position: relative;
}

.action-cards__text {
  display: flex;
  color: var(--color-text-contrast);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23.81%;
}

/*чем мы занимаемся*/

/*НАША КОМАНДА*/

.command-section {
  background-color: var(--background-color-command);
}

.command {
  display: flex;
  align-items: center;
}
.command__item {
  flex-basis: calc((100% -3 * 30px) / 4);
  background-color: var(--background-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command__item:not(:first-child) {
  margin-left: 30px;
}

.command__info {
  padding: 30px;
}

.command__name {
  color: var(--color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.command__text {
  color: var(--color-text-lighter);
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
/*СОЦСЕТИ*/
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-social-link);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
  fill: var(--background-color-command);
}

.social__item + .social__item {
  margin-left: 10px;
}
/*наша команда*/

/*ПОСТОЯННЫЕ КЛИЕНТЫ*/

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  border: none;
  width: 170px;
  height: 92px;
  align-items: baseline;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-social-link);
  box-sizing: border-box;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  fill: var(--color-social-link);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--link-color-change);
  fill: var(--link-color-change);
}

/*постянные клиенты*/

/*ФУТЕР*/
.footer {
  background-color: var(--background-color-dark);
  flex-direction: column;
}

.logo-footer {
  color: var(--color-text-contrast);
}

.logo-footer-web {
  color: var(--link-color-change);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
  justify-content: flex-start;
}
.footer-social {
  margin-right: 93px;
}

.footer-social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--background-color-command);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  fill: var(--background-color-command);
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social__name,
.footer-contact__name {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-contrast);
  margin-bottom: 20px;
}
.footer-logo {
  margin-right: 70px;
  padding-right: 15.3px;
}

.footer-social-list {
  display: flex;
}
.footer-adress__list {
  margin-top: 20px;
}

.footer-adress__item--adress /**/ {
  display: inline-block;
  color: var(--color-text-contrast);
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.footer-contact__label {
  margin-right: 12px;
}

.footer-contact__button {
  background: var(--link-color-change);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  color: var(--color-text-contrast);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  border: none;
  fill: var(--color-text-contrast);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__button:hover,
.footer-contact__button:focus {
  color: var(--color-text-contrast);
  background-color: var(--background-hero-btn-change);
}
.footer-button__icon {
  margin-left: 10px;
}
.footer-mail {
  display: flex;
  justify-content: flex-start;
}
.footer-contact__input {
  background: var(--background-color-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
}

.footer-contact__form {
  display: flex;
  align-items: flex-end;
}

/*футер*/

/*ПОРТФОЛИО*/

.works {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.works__item {
  display: flex;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.works__item:nth-child(3n) {
  margin-right: 0px;
}

.box {
  position: relative;
  overflow: hidden;
}

.box__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box__text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--color-text-contrast);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
}
.works__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__link:hover .box__overlay,
.works__link:focus .box__overlay {
  transform: translateY(0);
}

.works__image {
  min-width: 100%;
}

.works__link:hover,
.works__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-info {
  border-right: var(--line-cards);
  border-left: var(--line-cards);
  border-bottom: var(--line-cards);
  padding: 20px 24px;
}

.works-info__name {
  display: flex;
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.works-info__text {
  display: flex;
  color: var(--color-text-lighter);
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

/*МОДАЛЬНОЕ ОКНО*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  padding: 0;
  pointer-events: auto;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn__icon {
  fill: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-btn:hover > .modal-btn__icon,
.modal-btn:focus > .modal-btn__icon {
  fill: var(--link-color-change);
}

.modal-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  width: 448px;
  height: 501px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.modal-form__label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--color-text-lighter);
  position: relative;
}
.modal-form__label:nth-child(5) {
  margin-bottom: 20px;
}

.modal-form__label input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transform: translateX(52px);
  fill: var(--link-color-change);
}

.form-label-item {
  display: flex;
  position: relative;
  width: 100%;
}

.modal-form__text {
  margin-bottom: 4px;
}

.from-label-item {
  display: flex;
  height: 100%;
}

.modal-form__input:focus,
.modal-form__input:hover {
  border-color: var(--link-color-change);
  cursor: pointer;
}

.modal-form__input:focus + .modal-form__icon,
.modal-form__input:hover + .modal-form__icon {
  fill: var(--link-color-change);
}

.modal-form__input {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input input::placeholder {
  fill: var(--link-color-change);
  border: var(--link-color-change);
}

.modal-form__label input {
  margin: 0px;
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15px, 31px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;
}

.textarea-comment .placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea-comment {
  padding: 12px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus,
.textarea-comment:hover {
  border-color: var(--link-color-change);
}

.agreement {
  text-decoration-line: underline;
  color: var(--link-color-change);
}
.modal-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-agreement__icon-empty {
  display: inline-block;
  width: 16px;
  height: 14px;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  left: 12.5px;
  cursor: pointer;
}

.checkbox:checked + .modal-agreement__icon-empty {
  opacity: 0;
  border-color: inherit;
}
.checkbox:checked ~ .modal-agreement__icon {
  opacity: 1;
  background-color: var(--link-color-change);
}
/* .checkbox:focus + .icon-check,  */
.checkbox:focus-visible + .modal-agreement__icon-empty {
  border-color: var(--link-color-change);
}

.modal-agreement__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-origin: border-box;
  opacity: 0;
  border-radius: 2px;
}

.modal-agreement__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.submit-button {
  position: absolute;
  left: 164px;
  right: 164px;
  width: 200px;
  height: 50px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}
