$primary-text-color: #000000;
$color-text: #212121;
$color-text-lighter: #757575;
$color-text-footer: rgba(255, 255, 255, 0.6);
$color-text-contrast: #ffffff;
$background-color: #ffffff;
$background-color-dark: #2f303a;
$background-color-command: #f5f4fa;
$background-hero-btn-change: #188ce8;
$link-color-change: #2196f3;
$color-line: #ececec;
$color-social-link: #afb1b8;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
@mixin border-card() {
  border-right: 1px solid $color-line;
  border-left: 1px solid $color-line;
  border-bottom: 1px solid $color-line;
}
